.outlined-text {
    font-weight: bold;
    font-size: 1.8rem;
    -webkit-text-stroke: 1px #0069C0;
    /* Blue outline around text */
    text-align: center;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #0069C0;
    color: white
        /* Choose your own color here */
}

.table-hover>tbody>tr:hover td {
    background-color: #581845;
    color: white;
    /* Choose your own color here */
}

.warning th {
    background-color: #F6D066 !important;
    color: #0069C0 !important;
}

/* Correct way to italicize placeholder text */
.form-control::placeholder {
    font-style: italic;
}

/* Base style */


/* Hover style */
.nav-item:hover {
    background-color: #581845 !important;
    /* Purply background for hover */
}

.nav-item:hover .nav-link {
    color: white !important;
    /* White text color for hover */
}

/* Style for the link within the li */
.nav-link {
    color: #0069C0 !important;
    /* Link color */

}

.nav-link.active {
    color: dark orange;
    font-weight: bold !important;
    /* Link color */

}

.dataTables_filter label {
    font-weight: bold;
    color: #0069C0;
}

.wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    z-index: 10;
}

.spinning-text {
    animation: spin 30s linear infinite;
    transform-origin: center;
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

svg {
    width: 100%;
    height: 100%;
}

text {
    fill: #b99b5f;
    /* gold tone */
    font-family: Georgia, serif;
    font-size: 21px;
}

